<ion-view view-title="Titill Get Password">
    <ion-content padding="true">
        <div class="list">
            <p>You will be notified with your password on your email address.</p>
            <label class="item item-input">
                <input type="text" ng-model="data.email"  placeholder="Email" id="email">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-assertive" ng-click="getPwd(document.getElementById('email').value)">Submit</button>
        </div>

    </ion-content>
</ion-view>