<ion-view ng-controller="SearchCtrl"  view-title="{{typeNameSel}} in {{cityName}}">
    <fancy-select
            header-text="Select the cities"
            allow-empty='false'
            value="val.single"
            text="countries_text_single"
            typeCode="typeCode"
            items="countries"
            callback="callbackFunctionInController"
            >
    </fancy-select>
<ion-content class="has-header has-search-bar">

    <script id="fancy-select.html" type="text/ng-template">
        <div class="searchDiv">
        <ion-list>
            <ion-item class="item-text-wrap" ng-click="showItems($event)">
                {{text}}
                <span class="item-note">
                  {{noteText}}
                  <img class="{{noteImgClass}}" ng-if="noteImg != ''" src="{{noteImg}}" />
                </span>
            </ion-item>
        </ion-list>
       </div>
    </script>
    <script id="fancy-select-items.html" type="text/ng-template">
        <ion-view class="fancy-select-items modal">
            <ion-header-bar class="bar-assertive">
                <h1 class="title">{{headerText}}</h1>
            </ion-header-bar>
          <!--  <ion-header-bar class="bar-light bar-subheader">
                <input type="search"
                       placeholder="Search Cities"
                       ng-model="search"
                       ng-focus="searchFocused = true"
                       ng-blur="searchFocused = false"
                       ng-change="scrollTop()"
                       class="full-width">
                <button ng-if="search.length"
                        class="button button-icon ion-android-close input-button"
                        ng-click="clearSearch()">
                </button>
            </ion-header-bar>-->
            <ion-content>
                <div class="list">
                    <!-- Single select -->
                    <label
                            ng-repeat="item in items"
                            ng-if="!multiSelect"
                            class="item item-text-wrap"
                            ng-click='validateSingle(item,typeCode)'>
                        <div class="fancy-select-icon" ng-if="item.icon != null">
                            <i class="icon-{{item.text}}" style="background-image: url({{item.icon}})"></i>
                        </div>
                        {{item.text}}
                    </label>
                </div>
            </ion-content>
        </ion-view>
    </script>

    <div class="list">
        <a class="item item-thumbnail-left" ng-if="userData === true"   href="#/tab/search-detail/{{item.userid}}/{{item.usertypeid}}/{{cityName}}" ng-repeat="item in items" type="item-text-wrap">
            <img ng-src="img/default.jpg">
            <h2>{{item.pagename}}</h2>
            <p>{{item.location}}</p>
        </a>
    </div>

    <div class="card" ng-if="userData === false" >
        <div class="item item-text-wrap">
            <img ng-src="img/saddog.png" /> <br/>
            Oops..We found no data to show matching your location and will update this page soon.
        </div>
    </div>

    <ion-infinite-scroll
            ng-if="!moredata"
            distance="2%"
            icon="ion-loading-c"
            on-infinite="loadMore()">
    </ion-infinite-scroll>
</ion-content>
</ion-view>