<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{searchDetails.page_user_name}}">
    <ion-content class="padding">

        <div class="list card">

            <div class="item">
                <span class="rating">{{pageRate}}</span>
                <h2>{{searchDetails.page_business_name}}</h2>
                <p> {{searchDetails.page_loc_area}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image detailImg" src="{{bannerImage}}">

                <div class="card" ng-class="{'hide':searchDetails.page_contact_address === '' && searchDetails.page_website ==='' && searchDetails.page_email ===''}">
                    <div class="item item-text-wrap" ng-class="{'hide':searchDetails.page_contact_address === ''}">
                        {{searchDetails.page_contact_address}}
                    </div>
                    <div class="item item-text-wrap" ng-class="{'hide':searchDetails.page_website === ''}">
                        Website : {{searchDetails.page_website}}
                    </div>
                    <div class="item item-text-wrap" ng-class="{'hide':searchDetails.page_email === ''}">
                        Email : {{searchDetails.page_email}}
                    </div>
                </div>
                <div class="item item-button-right callItem" ng-class="{'hide':searchDetails.page_contact_address === '','pageViews':true}">
                    Navigate

                        <button class="button button-assertive" ng-click="navigate();">
                            <i class="icon ion-arrow-right-c"></i>
                        </button>

                </div>

                <div class="item item-button-right callItem" ng-class="{'hide':searchDetails.page_cellphone === '','pageViews':true}">
                    Call Me
                    <button class="button button-assertive" ng-click="callPhone(searchDetails.page_cellphone);">
                        <i class="icon ion-ios-telephone"></i>
                    </button>
                </div>

                <p ng-class="{'marginClass':searchDetails.page_business_desc !== '','pageViews':true}">{{searchDetails.page_business_desc}}</p>

                <p class="pageViews marginClass">
                    <a href="#" class="subdued">{{pageLikes}} Like</a>
                    <a href="#" class="subdued"> {{pagefollower}} Followers</a>
                    <a href="#" class="subdued">  {{pageViews}} Views</a>
                </p>

            </div>

        </div>

    </ion-content>
</ion-view>


