<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{searchDetails.page_user_name}}">
    <ion-content class="padding">

        <div class="list card">

            <div class="item item-avatar">
                <img src="{{image}}">
                <h2>{{searchDetails.page_user_name}}</h2>
                <p> {{searchDetails.page_business_name}}</p>
                <p> {{searchDetails.page_contact_address}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image detailImg" src="{{image}}" height="50%">
                <p>
                  {{searchDetails.page_business_desc}}
                </p>
                <p>
                <ul>
                <li class="">&nbsp;&nbsp;{{searchDetails.page_website}}</li>
                <li class="">&nbsp;&nbsp;{{searchDetails.page_email}}</li>
                <li class="ion-android-call">&nbsp;&nbsp;{{searchDetails.page_cellphone}}</li>
                </ul>
                </p>
                <p>
                    <a href="#" class="subdued">{{pageViews}} Views</a>
                    <a href="#" class="subdued">5 Likes</a>
                </p>
            </div>

        </div>


    </ion-content>
</ion-view>


