<ion-view view-title="Discover Pets in {{cityName}}">


  <ion-content>
      <ion-slide-box does-continue="true" auto-play="true">
          <ion-slide>
              <div style="text-align: center;"><img src="img/pet-banner2.jpg" style=" height:auto;
        width:100%;"/></div>
          </ion-slide>
          <ion-slide>
              <div style="text-align: center;"><img src="img/dogs-cats-banner.jpg" style=" height:auto;
        width:100%;"/></div>
          </ion-slide>
          <ion-slide>
              <div style="text-align: center;"><img src="img/pets-banner.jpg" style=" height:auto;
        width:100%;"/></div>
          </ion-slide>
      </ion-slide-box>

    <div class="row list dashList" padding="true" ng-repeat="usrType in userType" ng-if="$index % 3 === 0">

      <div class="col col-33 " ng-if="$index < userType.length">
          <img src="{{userType[$index].img}}" width="40%" ng-click="getListing(cityId,userType[$index].type_code,userType[$index].name)"/>
          <p>{{userType[$index].name}}</p>
      </div>

      <div class="col col-33 " ng-if="$index + 1 < userType.length">
          <img src="{{userType[$index + 1].img}}" width="40%" ng-click="getListing(cityId,userType[$index+1].type_code,userType[$index+1].name)"/>
          <p>{{userType[$index + 1].name}}</p>
      </div>
      <div class="col col-33 " ng-if="$index + 2 < userType.length">
          <img src="{{userType[$index + 2].img}}" width="40%" ng-click="getListing(cityId,userType[$index+2].type_code,userType[$index+2].name)"/>
          <p>{{userType[$index + 2].name}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
