/* Empty. Add your own CSS if you like */
.dashList{
    width:96% !important;
    margin-bottom: 1px !important;
    text-align:center;
}

.dashList .item {
    margin:5px;
}

.loading-container .loading {
    background-color: #ef473a;
    color: #fff;
}

a {text-decoration: none;}

.rating {
    float: right;
    font-size: 14px;
    font-weight: 900;
    padding: 13px;
    color: #F93237;
    background: url(../img/rating_48.png) no-repeat center center;
}

.callItem {
    border-width:0px !important;
}

.phoneCall {
    float: left;
}

.emailClass {
    padding-right:30%;
    float: left;
}

.pageViews{
    float: left;
    width: 100%;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    font-size: 16px !important;
}

.marginClass {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.show {
    display:block;
}
.hide {
    display:none;
}

#map{
    width: 90%;
    height: 600px;
    margin: 60px auto;
    box-shadow: 0 3px 25px black;
}

