/* Empty. Add your own CSS if you like */
.dashList{
    width:96% !important;
    margin-bottom: 1px !important;
    text-align:center;
}

.dashList .item {
    margin:5px;
}

.loading-container .loading {
    background-color: #ef473a;
    color: #fff;
}

a {text-decoration: none;}

.rating {
    float: right;
    font-size: 14px;
    font-weight: 800;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-top: 7px;
    color: #F93237;
    background: url(../img/rating_48.png) no-repeat center center;
}

.callItem {
    border-width:0px !important;
}

.phoneCall {
    float: left;
}

.emailClass {
    padding-right:30%;
    float: left;
}

.pageViews{
    float: left;
    width: 100%;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    font-size: 16px !important;
}

.marginClass {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.show {
    display:block;
}
.hide {
    display:none;
}

#map{
    width: 90%;
    height: 600px;
    margin: 60px auto;
    box-shadow: 0 3px 25px black;
}

.searchDiv {
    top: 34px;
    position:relative;
}

button input {
    transition: all ease-in-out 250ms;
}

button.ng-hide {
    margin-right: -67px;
}

.search-bar-focused {
    top: 0;
}

.has-search-bar {
    margin-top: -2px;
    top: 88px;
    transition: top ease-in-out 250ms;
}
.search-bar-focused {
    top: 44px;
}
.fancy-select .list {
    margin: -1px 0; }

/* Items */
/* line 13, ../scss/modules/_fancy-select.scss */
.fancy-select-items {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%; }
/* line 19, ../scss/modules/_fancy-select.scss */
.fancy-select-items .item {
    overflow: hidden;
    /* Clearfix */ }

/* line 24, ../scss/modules/_fancy-select.scss */
.fancy-select-items label p {
    height: 32px;
    line-height: 32px; }

/* line 29, ../scss/modules/_fancy-select.scss */
.fancy-select-icon {
    float: left;
    margin-right: 10px;
    width: 30px;
    text-align: center; }


.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}

.button.button-icon.input-button {
    position: absolute;
    right: 0;
    top: 5px;
    color: #bbb;
}


